In [1]:
one = 1
two = 2
three = 3
four = 4
can = "can"
do = "do"
python = "python"
more = "more"

print(one, two, three, four, can, do, python, more)

1 2 3 4 can do python more

In [2]:
number1 = 15
number2 = 30

result = number1 * number2

print("The result is", result)

The result is 450

In [3]:
def check_first_last(numbers):
    return numbers[0] == numbers[-1]

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

print("Given list:", numbers_x)
print("result is", check_first_last(numbers_x))

print("Given list:", numbers_y)
print("result is", check_first_last(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [4]:
numbers = [10, 20, 33, 46, 55]
print("Given list is", numbers)
print("Divisible by 5")

for num in numbers:
    if num % 5 == 0:
        print(num)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [5]:
str_x = "Anjali is good developer. Anjali is a writer"

count = str_x.count("Anjali")
print("Anjali appeared", count, "times")

Anjali appeared 2 times

In [6]:
for i in range(1, 6):
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [14]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [11]:
import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

temp_array = np.array(Temp_K)
temp_celsius = temp_array - 273.15

print(temp_celsius)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [22]:
import pandas as pd

data = {
    "Student": ["Tommy", "Fred", "Gail", "Precious", "Randy", "Ariel"],
    "Hair Color": ["Brown", "Grey", "Blonde", "Brown", "Black", "Brown"],
    "Eye Color": ["Hazel", "Green", "Blue", "Brown", "Hazel", "Blue"],
    "Weight": [60, 80, 76, 60, 88, 85]
}

df = pd.DataFrame(data)

df.index = ["A", "B", "C", "D", "E", "F"]

print(df)

    Student Hair Color Eye Color  Weight
A     Tommy      Brown     Hazel      60
B      Fred       Grey     Green      80
C      Gail     Blonde      Blue      76
D  Precious      Brown     Brown      60
E     Randy      Black     Hazel      88
F     Ariel      Brown      Blue      85

In [25]:
print(df[["Hair Color"]])

  Hair Color
A      Brown
B       Grey
C     Blonde
D      Brown
E      Black
F      Brown

In [24]:
print(df[["Eye Color"]])

  Eye Color
A     Hazel
B     Green
C      Blue
D     Brown
E     Hazel
F      Blue

In [27]:
print(df[["Student", "Weight"]])

    Student  Weight
A     Tommy      60
B      Fred      80
C      Gail      76
D  Precious      60
E     Randy      88
F     Ariel      85

In [30]:
print(df.iloc[1:4])

    Student Hair Color Eye Color  Weight
B      Fred       Grey     Green      80
C      Gail     Blonde      Blue      76
D  Precious      Brown     Brown      60