In [10]:
import pandas as pd

# Create a pandas series of cumulative miles
cumulative_miles = pd.Series(
    [55, 120, 185, 240, 310, 375],
    index = ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6"],
    name = "Cumulative Miles"
)

# Calculate miles each day
daily_miles = cumulative_miles.diff().fillna(cumulative_miles.iloc[0]).astype(int)
daily_miles.name = 'Daily Miles'

#Result
cumulative_miles, daily_miles

(Day 1     55
 Day 2    120
 Day 3    185
 Day 4    240
 Day 5    310
 Day 6    375
 Name: Cumulative Miles, dtype: int64,
 Day 1    55
 Day 2    65
 Day 3    65
 Day 4    55
 Day 5    70
 Day 6    65
 Name: Daily Miles, dtype: int64)

In [ ]:
mileage_df = pd.DataFrame({
    "Cumulative Miles": cumulative_miles,
    "Daily Miles": daily_miles
})

mileage_df

       Cumulative Miles  Daily Miles
Day 1                55           55
Day 2               120           65
Day 3               185           65
Day 4               240           55
Day 5               310           70
Day 6               375           65